<div class="container">
  <h2>{{ title }}</h2>

  <div class="actions">
    <div>
      <label for="sort">Sort:</label>
      <select id="sort" #selectInput (change)="sort()">
        <option value="createdAt">by Date</option>
        <option value="name">by Name</option>
      </select>
    </div>

    <div class="sort-direction" *ngIf="isAscDirection; else desc" (click)="toggleSortDirection()">
      <span>Asc</span>
      <span class="sort-arrow">&#8593;</span>
    </div>

    <ng-template #desc>
      <div class="sort-direction" (click)="toggleSortDirection()">
        <span>Desc</span>
        <span class="sort-arrow">&#8595;</span>
      </div>
    </ng-template>

    <input type="text" class="filter" placeholder="Filter by name..."
           #input (input)="filter(input.value)">
  </div>
</div>
