<app-board-modal *ngIf="editOpened"
                 [item]="board"
                 [editMode]="true"
                 (modalClosed)="editOpened = $event">
</app-board-modal>

<div class="board" (click)="openBoard()">
  <h3>{{ board.name }}</h3>
  <p>{{ board.description }}</p>
  <p>{{ board.createdAt | date: 'MMMM d, y' }}</p>

  <div class="options-btn" (click)="toggleOptions($event)">
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
  </div>

  <div class="options" *ngIf="optionsOpened">
    <p (click)="openEdit($event)">Edit</p>
    <p (click)="delete($event)">Delete</p>
  </div>
</div>
