@import "src/variables";

.container {
  width: 300px;
}

.title {
  margin-bottom: $smallIndent;
  text-align: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: $smallIndent;
  padding: $smallIndent;
  background-color: $primaryColor;

  &-add {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: $taskColor;
    cursor: pointer;

    &:hover {
      outline: $outlineOnHover;
    }
  }
}

.dropzone {
  outline: 2px dashed black;
}
