<app-task-modal *ngIf="isModalOpened"
                [taskStatus]="taskStatus"
                (modalClosed)="isModalOpened = $event">
</app-task-modal>

<div class="container">
  <div class="title">
    <h3>{{ taskStatus }}</h3>
  </div>

  <div class="tasks dropzone" appDropzone (drop)="replaceTask()">
    <div class="tasks-add"
         *ngIf="taskStatus !== 'Archived'"
         (click)="openModal()">+</div>

    <app-task *ngFor="let task of filteredTasks" [task]="task"
              appDraggable appDroppable (dragStart)="selectTask(task)">
    </app-task>
  </div>
</div>
