<div class="backdrop" (click)="closeModal()"></div>

<div class="modal">
  <h3>Add new board</h3>

  <!-- Template driven form -->
  <form (ngSubmit)="onSubmit(form)" #form=ngForm>
    <div>
      <label for="name">Board name</label><br>
      <input type="text" id="name" name="name" ngModel required>
    </div>

    <div>
      <label for="description">Board description</label><br>
      <input type="text" id="description" name="description" ngModel required>
    </div>

    <div class="buttons">
      <button type="button" (click)="closeModal()">Cancel</button>
      <button type="submit" [disabled]="form.invalid">Add</button>
    </div>
  </form>
</div>
