@import "src/variables";

.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: $mediumIndent;
}

.change-color {
  display: grid;
  gap: $mediumIndent;
}

.current-color {
  height: 150px;
  width: 150px;
}

.colored-boxes {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  cursor: pointer;

  & > div {
    transition-duration: 0.3s;
  }

  & > div:hover {
    transform: scale(110%);
    transition-duration: 0.3s;
  }
}

.subtitle {
  margin-bottom: $smallIndent;
}

.example {
  width: 300px;

  &-title {
    margin-bottom: $smallIndent;
    text-align: center;
  }

  &-tasks {
    display: flex;
    flex-direction: column;
    gap: $smallIndent;
    padding: $smallIndent;
  }
}

.task {
  padding: $smallIndent;
  background-color: $taskColor;

  &-name {
    font-size: 18px;
    margin-bottom: $smallIndent;
  }

  &-data {
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
}
