@import "src/variables";

.task {
  position: relative;
  padding: 20px $smallIndent $smallIndent;
  background-color: $taskColor;

  &:hover {
    outline: $outlineOnHover;
  }

  &-draggable {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: -3px;
    cursor: move;
  }

  &-name {
    font-size: 18px;
    margin-bottom: $smallIndent;
    padding-right: $smallIndent;
  }

  &-data {
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
}

.comments {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.options-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;

  .dots {
    display: block;
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
  }

  &:hover .dots {
    background-color: white;
  }
}

.options {
  position: absolute;
  bottom: 101px;
  right: 0;
  width: 100px;
  text-align: center;

  & > p {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: $accentColor;
    cursor: pointer;

    &:hover {
      background-color: $darkColor;
    }
  }

  &::after {
    content: '';
    position: relative;
    left: 80px;
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid $accentColor;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}
