.task {
  position: relative;
  padding: 15px;
  background-color: #b9b0b0;

  &:hover {
    outline: 2px solid black;
  }

  &-name {
    margin-bottom: 10px;
  }
}

.options-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;

  .dots {
    display: block;
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
  }

  &:hover .dots {
    background-color: white;
  }
}

.options {
  position: absolute;
  top: -50px;
  right: 0;
  height: 40px;
  width: 100px;
  text-align: center;
  box-shadow: 0 0 10px 5px white;

  & > p {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: #858585;
    cursor: pointer;

    &:hover {
      background-color: #656565;
    }
  }

  &::after {
    content: '';
    position: relative;
    left: 80px;
    display: block;
    height: 0;
    width: 0;
    border-top: 10px solid #858585;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}
