<app-task-modal *ngIf="editOpened"
                [item]="task" [editMode]="true"
                (modalClosed)="editOpened = $event">
</app-task-modal>

<div class="task">
  <h3 class="task-name">{{ task.name }}</h3>
  <div class="task-data">
    <p>Complexity: {{ task.complexity }}</p>
    <p>{{ task.createdAt | date: 'HH:mm MMM d' }}</p>
  </div>

  <div class="options-btn" (click)="toggleOptions($event)">
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
  </div>

  <div class="options" *ngIf="optionsOpened">
    <p (click)="openEdit($event)">Edit</p>
    <p (click)="delete($event)">Delete</p>
  </div>
</div>
