@import "src/variables";

.info {
  max-width: 400px;
  margin-bottom: $mediumIndent;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: $smallIndent;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

h3 {
  margin-bottom: $smallIndent;
}

input {
  height: $mediumIndent;
  padding: $inputPadding;
  font-size: 16px;
}

button {
  margin-top: $smallIndent;
}
