<div class="info">
  <div class="info-item">
    <p>Email:</p>
    <p>{{ email }}</p>
  </div>
</div>

<div class="info">
  <div class="info-item">
    <p>Username: </p>
    <input type="text" name="username" [(ngModel)]="username">
  </div>

  <button (click)="onSaveUsername()">Save username</button>
</div>

<div class="info">
  <h3>Change password</h3>

  <div class="info-item">
    <p>Current password: </p>
    <input type="password">
  </div>

  <div class="info-item">
    <p>New password: </p>
    <input type="password">
  </div>

  <div class="info-item">
    <p>Confirm new password: </p>
    <input type="password">
  </div>

  <button>Save password</button>
</div>
