@import "src/variables";

aside {
  position: fixed;
  height: 100vh;
  width: 200px;
  padding: $mediumIndent;
  background-color: $accentColor;
}

h2 {
  margin-bottom: $mediumIndent;
  color: white;
}

dt {
  font-weight: bold;
  margin-bottom: $smallIndent;
  color: white;
}

dd {
  margin: 0 0 $smallIndent $smallIndent;
  padding-left: $smallIndent;
  cursor: pointer;

  & > a {
    display: block;
    color: $primaryColor;
    text-decoration: none;
  }

  &:hover {
    background-color: $primaryColor;

    & > a {
      color: black;
    }
  }
}

.content {
  margin-left: 200px;
  padding: $mediumIndent;
}

.active-link {
  background-color: $primaryColor;

  & > a {
    color: black;
  }
}
