@import "src/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mediumIndent;
}

.actions {
  display: flex;
  align-items: center;
  gap: $mediumIndent;
}

.filter {
  height: 30px;
  width: 200px;
  padding: $inputPadding;
  border: none;
  border-bottom: 1px solid $primaryColor;
  font-size: 16px;

  &:focus {
    outline: none;
    border-bottom: $outlineOnHover;
  }
}

#sort {
  margin-left: 10px;
  height: 30px;
  width: 100px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid $primaryColor;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

.sort-direction {
  border-bottom: 1px solid $primaryColor;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  cursor: pointer;
}

.sort-arrow {
  font-size: 18px;
  margin-left: 10px;
}

.bread-crumbs {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bread-crumbs-arrow {
  font-weight: normal;
}
