<app-action-bar [title]="'Dashboard'"
                (searchValue)="searchValue = $event"
                (sortValue)="sortValue = $event"
                (ascDirection)="isAsc = $event">
</app-action-bar>
<app-board-modal *ngIf="isModalOpened"
                 (modalClosed)="isModalOpened = $event">
</app-board-modal>

<div class="container">
  <div class="add-board-wrapper">
    <div class="add-board" (click)="openModal()">
      <span class="add-board-plus">+</span>
      <span>New board</span>
    </div>
  </div>

  <app-board *ngFor="let board of boards | filter: searchValue | sort: sortValue: isAsc"
             [item]="board">
  </app-board>
</div>
