<app-toolbar [title]="'Dashboard'"></app-toolbar>
<app-board-modal *ngIf="isModalOpened"
                 (modalClosed)="isModalOpened = $event">
</app-board-modal>

<div class="container">
  <div class="add-board-wrapper">
    <div class="add-board" (click)="openModal()">
      <span class="add-board-plus">+</span>
      <span>New board</span>
    </div>
  </div>

  <ng-container *ngIf="boards$ | async as boards">
    <app-board *ngFor="let board of boards
               | filter: toolbarData.searchValue
               | sort: toolbarData.sortValue: toolbarData.ascDirection"
               [item]="board">
    </app-board>
  </ng-container>
</div>
