<div class="backdrop" (click)="closeModal()"></div>

<div class="modal">
  <h3>Edit board</h3>

  <div class="modal-body">
    <div>
      <label for="name">Board name:</label><br>
      <input type="text" id="name" name="newName" [(ngModel)]="newName" placeholder="Text here...">
    </div>

    <div>
      <p>Description:</p>
      <p class="description">{{ board.description }}</p>
    </div>

    <div class="buttons">
      <button (click)="closeModal()">Cancel</button>
      <button [disabled]="!newName" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
