@import "src/variables";

$headerLinkFontSize: 20px;

#header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  gap: $mediumIndent;
  padding: $smallIndent $mediumIndent;
  background-color: $primaryColor;
  box-shadow: 0 -1px 10px;
  z-index: 100;
}

h1 {
  flex-shrink: 0;
}

.nav {
  display: flex;
  flex: 1 0;
  justify-content: flex-end;
  align-items: center;
  gap: $mediumIndent;
  font-size: $headerLinkFontSize;

  &-link {
    color: black;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.user {
  flex-shrink: 0;
  font-size: $headerLinkFontSize;
}
