@import "src/variables";

.tasks-lists {
  min-height: 200px;
  display: flex;
  justify-content: center;
  gap: $mediumIndent;
  padding: 0 $mediumIndent $mediumIndent;
}

.commentsAndArchive {
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: $mediumIndent;
  padding-bottom: $mediumIndent;
}

.archive {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $mediumIndent;
}
