<section id="fullscreen-welcome">
  <h2 class="main-title">Organize your work, study and life.</h2>
  <h3 class="main-subtitle">Become focused, organized, and calm with Task Manager.</h3>
  <a routerLink="/dashboard"><button>Get started</button></a>
</section>

<section id="features">
  <div class="feature">
    <div class="feature-description">
      <h4>Dashboard</h4>
      <p>Simply use boards with tasks for different topics.</p>
    </div>
    <div class="feature-image">
      <img src="assets/Dashboard-screenshot.png" alt="Dashboard">
    </div>
  </div>
  <hr>

  <div class="feature">
    <div class="feature-description">
      <h4>Tasks</h4>
      <p>Easy way to control your tasks inside the board.</p>
    </div>
    <div class="feature-image">
      <img src="assets/Tasks-screenshot.png" alt="Tasks">
    </div>
  </div>
  <hr>

  <div class="feature">
    <div class="feature-description">
      <h4>Styling</h4>
      <p>Personalize your workspace with different colors.</p>
    </div>
    <div class="feature-image">
      <img src="assets/Styling-screenshot.png" alt="Styling">
    </div>
  </div>
</section>
