@import "src/variables";

.container {
  width: 500px;
  margin: $mediumIndent auto 0;
  padding: $mediumIndent;
  background-color: $primaryColor;
}

h2 {
  margin-bottom: $mediumIndent;
}

input {
  display: block;
  height: $mediumIndent;
  width: 100%;
  margin: $smallIndent 0 $mediumIndent;
  padding: $inputPadding;
  font-size: 16px;

  &#password {
    margin-bottom: 0;
  }
}

.buttons-wrapper {
  margin-top: $mediumIndent;
}

.error-message {
  margin-bottom: $smallIndent;
  color: red;
  text-align: center;
}

.loading {
  margin-top: $mediumIndent;
}
