<div class="backdrop" (click)="closeModal()"></div>

<div class="modal" @modalAppear>
  <h3>{{ editMode ? 'Edit task' : 'Add new task' }}</h3>

  <form (ngSubmit)="editMode ? saveChanges(form.value) : addTask(form.value)" #form=ngForm>
    <div>
      <label for="name">Task name:</label><br>
      <input type="text" id="name" name="name" placeholder="Text here..."
             [ngModel]="editMode ? taskToBeEdited.name : ''" required>
    </div>

    <div>
      <label for="complexity">Complexity:</label><br>
      <input type="number" id="complexity" name="complexity"
             [ngModel]="editMode ? taskToBeEdited.complexity : 1" min="1" max="10" required>
    </div>

    <div class="buttons">
      <button type="button" (click)="closeModal()">Cancel</button>
      <button type="submit" [disabled]="form.invalid">{{ editMode ? 'Save' : 'Add' }}</button>
    </div>
  </form>
</div>
