@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

button {
  padding: 6px $smallIndent;
  font-size: 14px;
  border: 1px solid $accentColor;
  cursor: pointer;

  &:hover {
    border-color: transparent;
    outline: 2px solid black;
  }

  &:disabled {
    border-color: transparent;
    outline: none;
    cursor: initial;
  }
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: $mediumIndent;
  row-gap: $smallIndent;
}
