$smallIndent: 15px;
$normalIndent: 30px;
$bigIndent: 100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-bottom: $normalIndent;
  font-family: sans-serif;
}

