$smallIndent: 15px;
$normalIndent: 30px;
$bigIndent: 100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-bottom: $normalIndent;
  font-family: sans-serif;
}

@import '@angular/cdk/overlay-prebuilt.css';

.draggable {
  cursor: move;
  user-select: none;
}

.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}
