$smallIndent: 15px;
$mediumIndent: 30px;
$bigIndent: 100px;

$primaryColor: #D9D9D9;
$accentColor: grey;
$darkColor: #656565;
$taskColor: #b9b0b0;

$inputPadding: 0 10px;
$outlineOnHover: 2px solid black;
