<div class="comments">
  <h3>Comments</h3>
  <p *ngIf="!openedTask; else comments">Please select a task.</p>

  <ng-template #comments>
    <div class="comments-title">
      <h4>Task: {{ openedTask.name }}</h4>
      <button (click)="addCommentOpened = !addCommentOpened">New comment</button>
    </div>
    <hr>

    <form *ngIf="addCommentOpened">
      <label for="commentText">Add comment</label><br>
      <textarea name="commentText" id="commentText"
                cols="30" rows="5" placeholder="Text here..."
                [(ngModel)]="commentText"
                [ngStyle]="{ border: isNewCommentValid ? '1px solid grey' : '1px solid red' }">
      </textarea><br>
      <button type="button" (click)="addNewComment()">Post</button>
      <button type="button" (click)=closeForm()>Cancel</button>
      <hr>
    </form>

    <p *ngIf="!openedTask.comments.length">There are no comments for this task.</p>

    <div class="comment" *ngFor="let comment of openedTask.comments; let i = index">
      <div class="comment-title">
        <div>
          <img src="assets/comment.png" alt="Comment">
          <span>{{ comment.createdAt | date: 'HH:mm EEE dd.MM.y' }}</span>
        </div>
        <div class="delete-icon" (click)="deleteComment(i)">
          <img src="assets/close.png" alt="Close" title="Delete comment">
        </div>
      </div>
      <p>{{ comment.text }}</p>
    </div>
  </ng-template>
</div>
