@import "src/variables";

.comments {
  padding: 0 $mediumIndent;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $smallIndent;
  }
}

h3 {
  margin-bottom: $mediumIndent;
  text-align: center;
}

h4 {
  text-align: left;
}

hr {
  margin: $smallIndent 0;
}

form {
  text-align: center;

  button:first-of-type {
    margin-right: $smallIndent;
  }
}

textarea {
  margin: $smallIndent 0;
  padding: $smallIndent;
  font-size: 16px;
}

.comment {
  margin-bottom: $smallIndent;
  padding: $smallIndent;
  border: 1px solid grey;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $smallIndent;
    margin-bottom: $smallIndent;

    & > div {
      display: flex;
      align-items: center;
      gap: $smallIndent;
    }
  }
}

.delete-icon {
  height: 32px;
  width: 32px;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: $primaryColor;
  }
}
